<section class="category text-center">
    <div class="container social">
            <i class="fa fa-facebook-square" style="background-color: #3b5998;"></i>
            <i class="fa fa-twitter" style="background-color: #55acee;"></i>
            <i class="fa fa-instagram" style="background-color: #3f729b;"></i>
            <i class="fa fa-youtube-square" style="background-color: #cd201f;"></i>
            <i class="fa fa-linkedin" style="background-color: #0077b5;"></i>
    </div>
    <h4>Copyright © 2020 Chetna Vakharia</h4>
</section>