    <section class="category bg-light  text-center">
        <div class="container">
            <div class="row my-5"> 
                <div class="col-lg-6 col-md-12 col-sm-12 col-10 d-block m-auto boxing">
                  <div class="row-div"></div>
                  <h1 class="text-white  text-center visit"><i>Visit Us</i></h1>
                  <p class="text-white  text-center">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <b>Address:</b><br>Attar Wala Shop in Sitabuldi, Nagpur-440012<br><br>
                       <i class="fa fa-phone"></i>&nbsp;&nbsp;<b>Phone:</b><br>
                        <a>07122524054</a><br><br>
                       <i class="fa fa-clock-o"></i>&nbsp;&nbsp;<b>Opening Hours:</b>
                       <br>Mon-Sat:11am - 9pm<br>Sunday:11am - 9pm <br>
                  </p>
                  <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-4 inputcontainer">
                    <div class="input-group input-group-sm">
                      <input type="text" placeholder="Name" class="form-control input-type" 
                      aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                      <div class="input-group input-group-sm">
                        <input type="text" placeholder="Email" class="form-control input-type" 
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                      </div>
                      <div class="input-group input-group-sm">
                        <input type="text" placeholder="Phone" class="form-control input-type"
                         aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                      </div>
                    </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-8 inputcontainer">
                    <div class="input-group input-group-sm mb-3">
                      <textarea placeholder="Message" class="form-control msg"></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12 inputcontainer">
                    <input type="button" value="Submit" class="bg-danger btn-sub">
                  </div>
                </div>
                </div>
            </div>
          </div>
      </section>