<div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div id="box" >
          <img [src]=myimage1 id="mg">
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div id="box" >
          <img [src]=myimage2 id="mg">
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
         <!-- <img class="d-block w-100 cloudinaryDynamicImage rounded" src="" 
          data-src="..." data-width="1600" data-height="900"
           data-html-width="100%" data-html-height="auto" data-crop="fill"> -->
         <div id="box" >
          <img [src]=myimage3 id="mg">
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div id="box" >
          <img [src]=myimage4 id="mg">
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div id="box" >
          <img [src]=myimage5 id="mg">
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
         <div id="box" >
          <img [src]=myimage6 id="mg">
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div id="box" >
          <img [src]=myimage1 id="mg">
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div id="box" >
          <img [src]=myimage2 id="mg">
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
         <div id="box" >
          <img [src]=myimage3 id="mg">
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div id="box" >
          <img [src]=myimage4 id="mg">
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div id="box" >
          <img [src]=myimage5 id="mg">
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
         <div id="box" >
          <img [src]=myimage6 id="mg">
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div id="box" >
          <img [src]=myimage1 id="mg">
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div id="box" >
          <img [src]=myimage2 id="mg">
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
         <div id="box" >
          <img [src]=myimage3 id="mg">
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div id="box" >
          <img [src]=myimage4 id="mg">
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div id="box" >
          <img [src]=myimage5 id="mg">
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
         <div id="box" >
          <img [src]=myimage6 id="mg">
        </div>
      </div>
    </div>
  </div>