.gallery-wrap .img-big-wrap img {
    top: 50px;
    height: 450px;
    width: 100%;
    display: inline-block;
    cursor: zoom-in;
  }
  .card-body .price-detail-wrap{
    text-align: center;
  }
  
  

 