<div class="imgbg" style="background-image:url(http://getwallpapers.com/wallpaper/full/c/f/3/501883.jpg);">
  <div class="container">
    <marquee class="marq"><h4><i>Someone Compliment 
      You look like you're made from the best stuff on Earth.
      Looking at a rose is like looking at your beautiful face.
       </i></h4><br><br>
    </marquee>
  </div>
      <div class="social">   
        <i class="fa fa-facebook-square" style="background-color: #3b5998;"></i>
        <i class="fa fa-twitter" style="background-color: #55acee;"></i>
        <i class="fa fa-instagram" style="background-color: #3f729b;"></i>
        <i class="fa fa-youtube-square" style="background-color: #cd201f;"></i>
        <i class="fa fa-linkedin" style="background-color: #0077b5;"></i>
      </div>
    </div> 

    <section class="category bg-light  text-center">
      <div class="container">
          <div class="row my-5"> 
              <div class="col-lg-4 col-md-12 col-sm-12 col-10 d-block m-auto box">
                <div id="box" >
                <img [src]=mylogo1 style="height:130px;width:130px;margin-top: 10px">
                <h3 class="text-primary" style="text-align: center;">Nail Art</h3>
                  <p> The style may appear spectacular,<br> 
                   good and gives a smoother 
                   <br>effect especially to the round, <br>curvy nails,cute nail style</p>
                 </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12 col-10  d-block m-auto box">
                <div id="box" > 
                  <img [src]=myimage1 id="mg">
                  </div> 
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12 col-10  d-block m-auto box">
                <div id="box" >
                <img [src]=mylogo2 style="height:130px;width:130px;margin-top: 10px;margin-left:10px;">
                <br><br>
                <h3 class="text-primary" style="text-align: center;">Hair Straightening </h3>
                <p>the flattening and straightening of hair in order to give it a smooth, streamlined, and sleek appearance. </p>
              </div>
            </div>
              <div class="col-lg-4 col-md-12 col-sm-12 col-10 d-block m-auto box">
                <div id="box" >
                <img [src]=myimage2 id="mg">
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-10  d-block m-auto box">
              <div id="box">
                <img [src]=mylogo3 style="height:130px;width:130px;margin-top: 10px">
                <h3 class="text-primary" style="text-align: center;">Bridal Makup</h3>
                Applied skillfully, wedding makeup can accentuate our best features plus hide its imperfections.
            </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-10  d-block m-auto box">
              <div id="box">
                <img [src]=myimage3  id="mg">
            </div>
            </div>
          </div>
      </div>
    </section>
    <app-contact></app-contact> 
